# project miguel aluguel stuff
haproxy_host=
db_username=
db_password=
hash_token=

# credentials to configure aws to pull the image docker at aws ecr
aws_region=
ecr_registry=
aws_access_key_id=
aws_secret_access_key=
